vue/node_modules
vue/dist

website/node_modules
website/dist

web/node_modules

release/
.idea/
.DS_Store
.vscode

minecraft-integration/output
**/target/*
output/*.jar

.history

*__pycache__

proto
NFTs/scripts/test_website/dist/*